:root {
  --background: #18122b;
  --text: #635985;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  transition: 0.15s;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

.light-mode {
  --background: #eae2b7;
  --text: #003049;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.layout {
  height: 50vh;
}

.header--logo {
  margin: 0;
  font-family: 'Dancing Script';
  font-size: 10rem;
  color: var(--background);
  display: flex;
  justify-content: center;
  background-color: var(--text);
  width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text);
  width: 10rem;
  border: none;
  text-align: center;
  outline: none;
  font-size: inherit;
}

.timer-shell {
  font-size: 8rem;
}

.layout__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title-type {
  font-size: 3rem;
  margin: 15px 15px;
  margin-bottom: auto;
}

.controls--btns:not(:last-child) {
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--text);
  color: var(--background);
  border: solid 2px var(--text);
  border-radius: 20px;
  cursor: pointer;
  width: 7rem;
}

.btn__change-time {
  width: 6.5rem;
  color: var(--text);
  background-color: var(--background);
}

.controls {
  width: 100%;
}

.controls--btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn__options {
  color: var(--text);
  background-color: var(--background);
  margin-top: auto;
}

.btn__start {
  margin-top: auto;
  width: 10rem;
  height: 4rem;
}
