.header {
  height: 7rem;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 5rem;
    margin-left: 2rem;
  }

  & > * {
    height: 100%;
  }
}

.user-nav {
  flex: 0 0 40%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;

  &__icon-box {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.2s 0.1s;
  }

  span {
    font-size: 1.5rem;
    transition: all 0.1s;
    user-select: none;
  }

  #timer {
    background-color: var(--color-primary-1);
  }
  #settings {
    background-color: var(--color-primary-2);
  }
  #history {
    background-color: var(--color-primary-3);
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    transition: all 0.1s;
    fill: currentColor;
  }

  &__icon-box:hover &__icon {
    height: 5rem;
    width: 5rem;
  }

  @keyframes slide-down {
    // 0% {
    //   transform: translateY(0%);
    //   opacity: 100%;
    // }
    // 50% {
    //   transform: translateY(100%);
    //   opacity: 0;
    // }
    // 51% {
    //   transform: translateY(-100%);
    //   opacity: 100%;
    // }
    // 100% {
    //   transform: translateY(0%);
    //   opacity: 100%;
    // }
    0% {
      transform: translateY(0%) scale(1);
    }
    50% {
      transform: translateY(100%) scale(0);
    }
    51% {
      transform: translateY(-100%) scale(1);
    }
    100% {
      transform: translateY(0%) scale(1);
    }
  }

  .change {
    animation: slide-down 0.4s;
  }

  // &__icon-box:active &__icon {
  //   color: var(--color-grey-dark-1);
  // }

  &__icon-box:hover span {
    font-size: 0rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;

  .mode {
    transform: translateY(-100%);
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
  }

  .active {
    transform: translateY(0%);
    transition: all 0.5s 0.1s;
    z-index: 100;
    // opacity: 1;
    // height: 100%;
    // transition: opacity 1s;
  }

  .hidden {
    transition: all 0s 0.6s;
  }

  .timer-screen {
    background-color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
    // height: 100%;
    &__clock {
      display: flex;
      align-items: flex-end;
      font-size: 12rem;

      input {
        text-align: center;
        line-height: 0;
        width: 15rem;
        padding: 0;
      }
    }

    &__buttons {
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--pos {
        margin-bottom: 0.5rem;
      }
      &--pos,
      &--neg {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .settings-screen {
    background-color: var(--color-primary-2);
  }
  .history-screen {
    background-color: var(--color-primary-3);
  }
}

.inactive {
  color: var(--color-grey-dark-2);
  cursor: default;
}

// .hidden {
//   // height: 0 !important;
//   // opacity: 0 !important;
//   display: none !important;
// }

input {
  font-size: inherit;
  // background-color: orangered;
  background-color: transparent;
  border: none;
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
