.wave {
    --duration: 8s;
    pointer-events:none;
}

.wave > svg > * {
    transition: all .5s;
}

.path-0 {
    animation: pathAnim-0 var(--duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.path-1 {
    animation: pathAnim-1 var(--duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.path-2 {
    animation: pathAnim-2 var(--duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path(
            "M 0,700 L 0,131 C 84.17224880382773,104.86602870813397 168.34449760765546,78.73205741626793 261,80 C 353.65550239234454,81.26794258373207 454.7942583732058,109.9377990430622 556,116 C 657.2057416267942,122.0622009569378 758.4784688995214,105.51674641148325 860,103 C 961.5215311004786,100.48325358851675 1063.2918660287082,111.99521531100478 1160,119 C 1256.7081339712918,126.00478468899522 1348.3540669856459,128.5023923444976 1440,131 L 1440,700 L 0,700 Z"
        );
    }
    25% {
        d: path(
            "M 0,700 L 0,131 C 93.92344497607655,116.16746411483254 187.8468899521531,101.33492822966507 278,97 C 368.1531100478469,92.66507177033493 454.53588516746413,98.82775119617226 552,105 C 649.4641148325359,111.17224880382774 758.0095693779905,117.35406698564596 870,119 C 981.9904306220095,120.64593301435404 1097.4258373205744,117.75598086124401 1193,119 C 1288.5741626794256,120.24401913875599 1364.2870813397128,125.622009569378 1440,131 L 1440,700 L 0,700 Z"
        );
    }
    50% {
        d: path(
            "M 0,700 L 0,131 C 110.58373205741626,110.5598086124402 221.1674641148325,90.11961722488039 310,94 C 398.8325358851675,97.88038277511961 465.9138755980862,126.08133971291863 551,153 C 636.0861244019138,179.91866028708137 739.1770334928228,205.555023923445 842,196 C 944.8229665071772,186.444976076555 1047.377990430622,141.69856459330146 1147,125 C 1246.622009569378,108.30143540669856 1343.311004784689,119.65071770334927 1440,131 L 1440,700 L 0,700 Z"
        );
    }
    75% {
        d: path(
            "M 0,700 L 0,131 C 103.78947368421055,115.33492822966508 207.5789473684211,99.66985645933015 299,110 C 390.4210526315789,120.33014354066985 469.47368421052624,156.6555023923445 547,162 C 624.5263157894738,167.3444976076555 700.5263157894736,141.70813397129186 813,121 C 925.4736842105264,100.29186602870814 1074.421052631579,84.51196172248804 1185,87 C 1295.578947368421,89.48803827751196 1367.7894736842104,110.24401913875599 1440,131 L 1440,700 L 0,700 Z"
        );
    }
    100% {
        d: path(
            "M 0,700 L 0,131 C 84.17224880382773,104.86602870813397 168.34449760765546,78.73205741626793 261,80 C 353.65550239234454,81.26794258373207 454.7942583732058,109.9377990430622 556,116 C 657.2057416267942,122.0622009569378 758.4784688995214,105.51674641148325 860,103 C 961.5215311004786,100.48325358851675 1063.2918660287082,111.99521531100478 1160,119 C 1256.7081339712918,126.00478468899522 1348.3540669856459,128.5023923444976 1440,131 L 1440,700 L 0,700 Z"
        );
    }
}

@keyframes pathAnim-1 {
    0% {
        d: path(
            "M 0,700 L 0,306 C 90.31578947368422,299.6937799043062 180.63157894736844,293.3875598086124 282,282 C 383.36842105263156,270.6124401913876 495.7894736842105,254.14354066985646 598,247 C 700.2105263157895,239.85645933014354 792.2105263157896,242.03827751196172 869,247 C 945.7894736842104,251.96172248803828 1007.3684210526314,259.70334928229664 1100,270 C 1192.6315789473686,280.29665071770336 1316.3157894736842,293.1483253588517 1440,306 L 1440,700 L 0,700 Z"
        );
    }
    25% {
        d: path(
            "M 0,700 L 0,306 C 72.68899521531102,316.44976076555025 145.37799043062205,326.8995215311005 252,314 C 358.62200956937795,301.1004784688995 499.17703349282294,264.8516746411483 599,282 C 698.8229665071771,299.1483253588517 757.9138755980862,369.6937799043062 838,367 C 918.0861244019138,364.3062200956938 1019.1674641148325,288.3732057416268 1123,266 C 1226.8325358851675,243.6267942583732 1333.4162679425838,274.81339712918657 1440,306 L 1440,700 L 0,700 Z"
        );
    }
    50% {
        d: path(
            "M 0,700 L 0,306 C 105.17703349282297,291.4162679425838 210.35406698564594,276.8325358851675 304,284 C 397.64593301435406,291.1674641148325 479.76076555023917,320.0861244019139 567,313 C 654.2392344497608,305.9138755980861 746.6028708133971,262.82296650717706 833,244 C 919.3971291866029,225.17703349282297 999.8277511961724,230.622009569378 1100,245 C 1200.1722488038276,259.377990430622 1320.0861244019138,282.688995215311 1440,306 L 1440,700 L 0,700 Z"
        );
    }
    75% {
        d: path(
            "M 0,700 L 0,306 C 104.91866028708134,319.39712918660285 209.83732057416267,332.7942583732057 308,331 C 406.1626794258373,329.2057416267943 497.56937799043067,312.22009569377985 590,300 C 682.4306220095693,287.77990430622015 775.8851674641147,280.32535885167465 869,279 C 962.1148325358853,277.67464114832535 1054.88995215311,282.47846889952154 1150,288 C 1245.11004784689,293.52153110047846 1342.5550239234449,299.7607655502392 1440,306 L 1440,700 L 0,700 Z"
        );
    }
    100% {
        d: path(
            "M 0,700 L 0,306 C 90.31578947368422,299.6937799043062 180.63157894736844,293.3875598086124 282,282 C 383.36842105263156,270.6124401913876 495.7894736842105,254.14354066985646 598,247 C 700.2105263157895,239.85645933014354 792.2105263157896,242.03827751196172 869,247 C 945.7894736842104,251.96172248803828 1007.3684210526314,259.70334928229664 1100,270 C 1192.6315789473686,280.29665071770336 1316.3157894736842,293.1483253588517 1440,306 L 1440,700 L 0,700 Z"
        );
    }
}

@keyframes pathAnim-2 {
    0% {
        d: path(
            "M 0,700 L 0,481 C 120.35406698564591,459.88038277511964 240.70813397129183,438.7607655502392 328,460 C 415.29186602870817,481.2392344497608 469.52153110047846,544.8373205741627 547,534 C 624.4784688995215,523.1626794258373 725.2057416267943,437.88995215311 824,427 C 922.7942583732057,416.11004784689 1019.6555023923445,479.6028708133972 1122,501 C 1224.3444976076555,522.3971291866028 1332.1722488038276,501.6985645933014 1440,481 L 1440,700 L 0,700 Z"
        );
    }
    25% {
        d: path(
            "M 0,700 L 0,481 C 107.41626794258374,483.04784688995215 214.8325358851675,485.0956937799043 314,502 C 413.1674641148325,518.9043062200957 504.0861244019138,550.665071770335 581,530 C 657.9138755980862,509.334928229665 720.8229665071771,436.244019138756 823,430 C 925.1770334928229,423.755980861244 1066.6220095693782,484.3588516746412 1176,504 C 1285.3779904306218,523.6411483253588 1362.688995215311,502.3205741626794 1440,481 L 1440,700 L 0,700 Z"
        );
    }
    50% {
        d: path(
            "M 0,700 L 0,481 C 99.81818181818178,467.81339712918657 199.63636363636357,454.6267942583732 304,444 C 408.36363636363643,433.3732057416268 517.2727272727274,425.3062200956938 604,422 C 690.7272727272726,418.6937799043062 755.2727272727271,420.1483253588517 840,440 C 924.7272727272729,459.8516746411483 1029.6363636363637,498.1004784688995 1133,508 C 1236.3636363636363,517.8995215311005 1338.181818181818,499.44976076555025 1440,481 L 1440,700 L 0,700 Z"
        );
    }
    75% {
        d: path(
            "M 0,700 L 0,481 C 71.77033492822966,502.92344497607655 143.54066985645932,524.8468899521531 254,523 C 364.4593301435407,521.1531100478469 513.6076555023925,495.5358851674642 612,485 C 710.3923444976075,474.4641148325358 758.0287081339712,479.0095693779905 844,480 C 929.9712918660288,480.9904306220095 1054.2775119617224,478.42583732057415 1160,478 C 1265.7224880382776,477.57416267942585 1352.8612440191387,479.2870813397129 1440,481 L 1440,700 L 0,700 Z"
        );
    }
    100% {
        d: path(
            "M 0,700 L 0,481 C 120.35406698564591,459.88038277511964 240.70813397129183,438.7607655502392 328,460 C 415.29186602870817,481.2392344497608 469.52153110047846,544.8373205741627 547,534 C 624.4784688995215,523.1626794258373 725.2057416267943,437.88995215311 824,427 C 922.7942583732057,416.11004784689 1019.6555023923445,479.6028708133972 1122,501 C 1224.3444976076555,522.3971291866028 1332.1722488038276,501.6985645933014 1440,481 L 1440,700 L 0,700 Z"
        );
    }
}
